.background {
    background-image: url(../../images/background.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment:fixed; */
    /* width: 100vw;
    height: 93.9vh; */
  }